* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  background-image: linear-gradient(
    to top,
    #f2fd00,
    #dffb04,
    #ccf80e,
    #b9f518,
    #a5f222,
    #9cf12d,
    #94f037,
    #8bef3f,
    #8cf04a,
    #8ef253,
    #8ff35c,
    #91f465
  );
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 25px;
  width: 310px;
  padding: 10px;
  font-size: 1em;
  margin: 10px auto;
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.3);
}
